body {
width:440px;
}
#header, #nav, #section, #article, #aside, #footer {
display:block;
width:800px;
margin:10px;
padding:4px;
background-color:#ddd;
text-align:center;
}
#section {
float:left;
width:800px;
height:330px;
}
#article {
width:264px;
background-color:#efefef;
}
#aside {
float:left;
width:800px;
height:500px;
}
#footer {
overflow:hidden;
}
